<app-navbar></app-navbar>

<div class="container main-container">
  <div class="row">
    <div class="col-md-4" *ngIf="maracdorSel" >
      <h4>marcador</h4>
      <hr>
      <div class="form-group">
        <label>titulo</label>
        <input [(ngModel)]="maracdorSel.titulo"
              name="titulo"
               type="text"
               class="form-control">
      </div>
      <div class="form-group">
        <label>titulo</label>
        <textarea [(ngModel)]="maracdorSel.desc"
                name="desc"
                 type="textarea"
                 rows="5" 
                 class="form-control">
          </textarea>
      </div>
      <div class="form-group">
        <select [(ngModel)]="maracdorSel.draggble"
                 name="draggble" 
                 class="form-control">
                <option value="true">si</option>
                <option value="false">no</option>
        </select>

      </div>
      <button (click)="_ms.guardarMarcador()"
      class="btn btn-outline-primary btn-block"
      type="button">
       guardar cambios
      </button>
    </div>
    <div class="col-md-8">
      <agm-map [latitude]="lat"
                [longitude]="lng" 
                [zoom]="zoom"
                (mapClick)="clickmapa( $event )">
                
        <agm-marker *ngFor="let marcador of _ms.marcadores;let i of index" 
                    [latitude]="marcador.lat" 
                    [longitude]="marcador.lng"
                    [title]="marcador.titulo"
                    [markerDraggable]="marcador.draggble"
                    (markerClick)="clickMarcador(marcador,i)"
                    (dragEnd)="dragEndMarcador(marcador,$event)">

          <agm-info-window>
            <strong>{{ marcador.titulo }}</strong>
           <p *ngIf="marcador.desc" >
             {{ marcador.desc }}
           </p>
           <p (click)="_ms.borraDescripcion(i)">
             <a class="text-danger puntero">borrar la descripcion</a>
           </p>
          </agm-info-window>
      
        </agm-marker>
      </agm-map>
    </div>
  </div>
</div>